// FONTS
$default-font-size: 1.6rem;
$default-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Montserrat', sans-serif;

// GRID
$grid-width: 117rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;

// COLORS
$color-background-primary: #ffffff;
$color-background-secondary: #eef1ec;

$color-button-primary: #6fb048;
$color-button-secondary: #499093;
$color-on-hover: #68cf2a;
$color-on-hover-secondary: #83a7a5;

$color-text-white: #ffffff;
$color-text-green-light: #8badab;
$color-text-green-medium: #6fb048;
$color-text-green-dark: #0f5f5c;
$color-text-grey: #bec8c8;

$color-divider-primary: #6fb048;
$color-divider-secondary: #f2f2f2;
$color-divider-header: #4d6d6e;
